name: Continuous Delivery
on:
  push:
    branches:
      - main
  workflow_call:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  setup:
    name: "Setup"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

  terraform-apply:
    name: "Terraform apply"
    needs: [setup]
    uses: ./.github/workflows/terraform-apply.yaml
    with:
      apply: true

  bump-version:
    name: "Bump version"
    needs: [terraform-apply]
    uses: ./.github/workflows/bump-version.yaml
