name: Scheduled Terraform Apply
run-name: Scheduled Terraform Apply

on:
  schedule:
    - cron: '0 * * * *' # Every hour
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  setup:
    name: "Setup"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

  terraform-apply:
    name: "Terraform apply"
    needs: [setup]
    uses: ./.github/workflows/terraform-apply.yaml
    with:
      apply: true
